<article>
  <div class="left">
    <h2>全部文章</h2>
    <nz-list nzItemLayout="vertical" [nzLoading]="loading" *ngIf="pageMeta">
      <nz-list-item *ngFor="let post of posts">
        <nz-list-item-meta>
          <nz-list-item-meta-avatar>
            <nz-tag nzColor="#55acee">
              <i nz-icon nzType="calendar"></i>
              <span>{{ post.lastModified | date:'yyyy年MM月dd日'}} </span>
            </nz-tag>
          </nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            <a [routerLink]="['/blog/post-detail',post.id]">{{ post.title }}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        {{ post.contentAbstract }}
      </nz-list-item>
      <nz-list-empty *ngIf="posts.length === 0"></nz-list-empty>
    </nz-list>
    <div *ngIf="!pageMeta">
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true">
      </nz-skeleton>
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true">
      </nz-skeleton>
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true">
      </nz-skeleton>
      <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="true">
      </nz-skeleton>
    </div>
  </div>
  <!-- <div class="right" nz-col nzSpan="6" nzOffset="1">
    <nz-card nzTitle="公告">
      <p>这个人很懒，什么都没有留下</p>
    </nz-card>
    <br>
    <br>
    <div class="card">
      <div class="card-header">分类</div>
      <a class="list-group-item" *ngFor="let item of categories">{{item.name}}</a>
    </div>
  </div> -->
</article>
<nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" (nzPageIndexChange)="onPaging($event)"></nz-pagination>
<br />
